In [1]:
import numpy as np
import pandas as pd
import nltk
import string
import re
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\91830\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [2]:
df=pd.read_csv('IMDB Dataset.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [4]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [5]:
df.isna().sum()  # there  is no null

review       0
sentiment    0
dtype: int64

In [6]:
df.duplicated().value_counts()

# there are 418 duplicat value we have to remove them

False    49582
True       418
Name: count, dtype: int64

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.shape

(49582, 2)

In [9]:
df.reset_index(inplace=True)

In [10]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [11]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [12]:
# convert in lowercase
def lower_case(text): 
    words=text.split(' ')
    words=[word.lower() for word in words]
    return ' '.join(words)


def remove_stop_words(text): 
    stop_words=set(stopwords.words('english'))
    text=[word for word in text.split() if word not in stop_words]
    return " ".join(text)



#removing numbers
def remove_numbers(text): 
    return re.sub(r'\d+', '', text)
            #or
# def removing_numbers(text): 
#     text="".join([char for char in text if not char.isdigit()])
#     return text


# removing punctuation: 
def remove_puntuations(text):
    translator=str.maketrans('', '', string.punctuation)
    return text.translate(translator)

# removing urls: 
def remove_urls(text):
    return re.sub(r'http\S+|www\S+', '', text)

# lemmetization
def lemmatization(text): 
    text=text.split()
    lemmatizer=WordNetLemmatizer()
    text=[lemmatizer.lemmatize(word, pos='v') for word in text]
    return " ".join(text)


def normalize_text(df):
    """Normalize the text data."""
    try:
        df['review'] = df['review'].apply(lower_case)
        df['review'] = df['review'].apply(remove_stop_words)
        df['review'] = df['review'].apply(remove_numbers)
        df['review'] = df['review'].apply(remove_puntuations)
        df['review'] = df['review'].apply(remove_urls)
        df['review'] = df['review'].apply(lemmatization)
        return df
    except Exception as e:
        print(f'Error during text normalization: {e}')
        raise

In [13]:
normalize_text(df)

       index                                             review sentiment
0          0  one reviewers mention watch oz episode hook ri...  positive
1          1  wonderful little production br br the film tec...  positive
2          2  think wonderful way spend time hot summer week...  positive
3          3  basically theres family little boy jake think ...  negative
4          4  petter matteis love time money visually stun f...  positive
...      ...                                                ...       ...
49577  49995  think movie right good job creative original f...  positive
49578  49996  bad plot bad dialogue bad act idiotic direct a...  negative
49579  49997  catholic teach parochial elementary school nun...  negative
49580  49998  im go disagree previous comment side maltin on...  negative
49581  49999  one expect star trek movies high art fan expec...  negative

[49582 rows x 3 columns]

In [14]:
df.head()

   index                                             review sentiment
0      0  one reviewers mention watch oz episode hook ri...  positive
1      1  wonderful little production br br the film tec...  positive
2      2  think wonderful way spend time hot summer week...  positive
3      3  basically theres family little boy jake think ...  negative
4      4  petter matteis love time money visually stun f...  positive

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49582 entries, 0 to 49581
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      49582 non-null  int64
 1   review     49582 non-null  object
 2   sentiment  49582 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.1+ MB

In [16]:
df.drop(columns='index', index=1, inplace=True)

In [17]:
df.head()

                                              review sentiment
0  one reviewers mention watch oz episode hook ri...  positive
2  think wonderful way spend time hot summer week...  positive
3  basically theres family little boy jake think ...  negative
4  petter matteis love time money visually stun f...  positive
5  probably alltime favorite movie story selfless...  positive

In [18]:
df.sentiment.value_counts()   
# insights >> almost balanced data sets

sentiment
positive    24883
negative    24698
Name: count, dtype: int64

In [19]:
df['sentiment']=df['sentiment'].map({'positive':1, 'negative':0})

In [20]:
df['sentiment'].value_counts()

sentiment
1    24883
0    24698
Name: count, dtype: int64

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer=CountVectorizer(max_features=100)  # "Keep only the top 100 most frequent words (features) across all documents."
X=vectorizer.fit_transform(df['review']).toarray()
y=df['sentiment']

In [22]:
X

array([[0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [2, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 1, 0, 0]], shape=(49581, 100))

In [23]:
import numpy as np
np.set_printoptions(edgeitems=30, linewidth=100000,
    formatter=dict(float=lambda x: "%.3g" % x))

In [24]:

X

array([[ 0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  3,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  2,  0,  3,  1, ...,  1,  4,  0,  1,  0,  0,  0,  0,  0,  0,  1,  1,  0,  0,  0,  0,  0,  0,  1,  0,  0,  1,  0,  3,  0,  1,  0,  1,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  2,  0,  0,  1,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0, ...,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  2,  2,  0,  1,  0,  0,  0,  1,  0,  0,  1,  1,  1,  0,  0,  0,  1],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  3,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  2,  0,  1,  0,  0,  0, ...,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  1,  0,  0,  0,  0],
       [ 1,  0,  0,  0,  1,  0,  0,  0,  0,  1,  0,  5,  0,  1,  2,  1,  0,  1,  0,  0,  0,  0,  0,  0,  2,  1,  0,  0,  1,  0, ...,  0,  0,  0,  0,  0,  0,  0,  1,  1,  0,  2,  1,  0,  0,  1,  0,  2,  0,  0,  0,  2,  0,  0,  1,  1,  0,  1,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0, ...,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  1],
       [ 0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  1,  0, ...,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  2,  0,  1,  5,  0,  0],
       [ 0,  0,  0,  1,  0,  0,  2,  0,  0,  0,  0,  1,  1,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  2,  1,  0,  1, ...,  0,  6,  0,  1,  0,  2,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1],
       [ 1,  0,  0,  0,  0,  0,  1,  0,  0,  1,  0,  2,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  1,  0,  6,  0,  0,  0,  0,  1, ...,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  2,  1,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  1,  1,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0, ...,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  1,  4,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  3,  1,  1,  2,  0,  0, ...,  0,  0,  1,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  2,  0,  0,  0,  2,  0,  0,  0,  1,  0,  0,  0,  0,  2,  0,  0,  0,  0,  0, ...,  0,  0,  0,  1,  0,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 1,  0,  1,  0,  0,  0,  0,  1,  0,  0,  0,  6,  0,  0,  0,  0,  0,  0,  0,  0,  3,  0,  0,  1,  2,  1,  2,  0,  2,  0, ...,  1,  0,  1,  0,  1,  0,  0,  1,  0,  2,  0,  0,  1,  0,  1,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  2,  1,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  5,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, ...,  0,  0,  2,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  2,  0],
       [ 0,  1,  0,  0,  1,  0,  1,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, ...,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  1,  0,  1,  0,  0,  0,  0,  1,  0,  0,  3,  0,  0,  0,  1,  1, ...,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  2,  1,  0,  0,  0,  0,  0,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  1,  5,  0,  0,  0,  0,  0, ...,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  2,  0,  1,  0,  0,  0,  0, 15,  0,  0,  1,  0,  1,  0,  0,  1,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0, ...,  0,  0,  0,  2,  0,  0,  1,  0,  1,  0,  2,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  1,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  3,  1,  1,  0,  1,  0, ...,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  1,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  1,  1,  0,  0,  1,  0,  0,  0,  0,  3,  0,  1,  0,  0,  0, ...,  0,  0,  0,  0,  0,  0,  3,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  2,  0,  0],
       [ 2,  0,  1,  0,  0,  0,  1,  1,  0,  1,  1,  5,  2,  0,  1,  1,  1,  0,  0,  0,  1,  0,  1,  0,  1,  0,  0,  0,  2,  0, ...,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  2,  0,  1,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  1,  0,  0,  0,  0,  1,  1,  0,  0,  0,  4,  0,  0,  0,  1,  1,  0,  0,  1,  2,  0,  0,  0,  0,  1,  0,  0,  1,  1, ...,  0,  0,  0,  0,  0,  1,  1,  0,  0,  0,  1,  1,  0,  0,  1,  0,  2,  1,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, ...,  0,  0,  0,  0,  1,  1,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  2,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  1,  0,  2,  0,  1,  0,  0,  4,  0,  0,  0,  2,  0,  0,  0,  0,  1,  0,  0,  0,  0,  1,  2,  0,  1,  2, ...,  0,  1,  0,  0,  0,  0,  0,  1,  0,  0,  1,  1,  1,  0,  0,  0,  2,  0,  0,  0,  0,  1,  0,  2,  2,  0,  0,  0,  0,  0],
       [ 1,  1,  0,  1,  0,  1,  0,  0,  0,  0,  1,  1,  1,  0,  1,  0,  0,  0,  0,  0,  1,  0,  0,  2,  1,  0,  0,  0,  1,  0, ...,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  1,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  3,  0,  0,  1,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1, ...,  0,  1,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  1,  0,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 1,  0,  1,  1,  5,  0,  1,  1,  0,  4,  0,  6,  1,  1,  1,  0,  0,  3,  0,  0,  0,  1,  0,  0,  5,  0,  0,  0,  2,  1, ...,  1,  1,  1,  0,  0,  0,  0,  3,  1,  1,  5,  0,  0,  1,  0,  0,  1,  3,  0,  0,  1,  0,  3,  0,  0,  0,  2,  2,  1,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0, ...,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  1,  0,  0,  0,  0,  1,  1,  0,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0],
       [ 0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0, ...,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  0,  1,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  1,  0,  3,  0,  0,  1,  0,  0,  5,  0,  0,  2,  2,  0,  2,  1,  1,  2,  0,  0,  0,  4,  0,  1,  0,  0,  1, ...,  0,  0,  1,  1,  0,  0,  3,  1,  0,  0,  1,  0,  0,  0,  0,  3,  3,  0,  2,  1,  0,  1,  1,  0,  1,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  1,  5,  0,  0,  0,  0,  0,  0,  0,  1,  2,  0,  0,  0,  0,  0,  1,  0,  0,  1, ...,  0,  0,  0,  1,  0,  1,  0,  0,  0,  0,  2,  0,  0,  0,  0,  1,  0,  0,  0,  0,  1,  1,  0,  0,  0,  0,  2,  0,  0,  0],
       ...,
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  2,  0,  0,  0,  1,  0,  0,  0,  0,  0,  1,  0,  1,  0,  0,  1,  0,  2,  0,  0,  0, ...,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  2,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  0,  0,  0,  0,  0,  0,  1,  0, ...,  0,  0,  0,  0,  0,  0,  1,  0,  1,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  1,  0,  0, ...,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  3,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  2,  0,  0,  2,  0,  0,  0,  0,  0,  1,  0,  0,  1,  1,  2,  0,  0,  1,  0, ...,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  1,  0],
       [ 0,  1,  0,  0,  1,  0,  1,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  1,  0,  0,  1,  0,  0,  0,  1,  0,  0,  0,  0,  1, ...,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  3,  0,  0],
       [ 0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  9,  1,  0,  0,  1,  0,  0,  0,  1,  0,  0,  1,  0,  0,  0,  0,  0,  5,  0, ...,  2,  2,  0,  0,  1,  0,  0,  0,  2,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  3,  4,  0,  0,  1,  0,  0,  0],
       [ 0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  2,  0,  0,  1,  0,  0,  2,  0,  0,  0,  0,  0,  1,  0,  1,  1,  0,  1,  0,  0, ...,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  1,  3,  0,  0,  0,  0,  1,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  3,  0,  0,  1,  0,  0,  0,  0,  0,  1,  0,  0,  0,  2,  0,  0,  0,  0,  0, ...,  0,  0,  0,  0,  0,  0,  1,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  2,  2,  0,  0,  2,  0, ...,  0,  0,  0,  0,  1,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  3,  0,  0,  0,  1,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  1,  0,  0,  1,  0,  7,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0, ...,  0,  0,  1,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  1,  0,  1,  0,  1],
       [ 1,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  3,  0,  0,  0,  0,  0,  0,  0,  2,  0,  0,  0,  0,  2,  0,  0,  0,  0,  1, ...,  0,  0,  0,  0,  0,  0,  1,  1,  0,  0,  2,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  1,  0,  0,  0,  1,  1,  1,  0,  0],
       [ 0,  0,  0,  0,  1,  1,  0,  1,  0,  1,  0,  6,  0,  0,  1,  0,  0,  0,  0,  0,  0,  1,  0,  0,  1,  0,  0,  0,  5,  0, ...,  0,  0,  0,  0,  0,  1,  0,  0,  1,  0,  0,  0,  0,  0,  0,  1,  1,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  2],
       [ 0,  0,  0,  2,  0,  0,  1,  0,  0,  0,  0,  3,  0,  0,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  2,  0, ...,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  2,  0,  1,  1,  0,  0,  1,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0],
       [ 0,  1,  0,  0,  0,  0,  0,  0,  1,  0,  0,  8,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  1, ...,  0,  1,  0,  0,  0,  0,  1,  1,  1,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  1,  1,  0,  3,  0,  0,  1,  1,  0,  0,  0,  1,  1,  1,  1,  0,  0,  1,  0,  0,  2,  0,  1,  2,  0,  0,  9,  1,  0, ...,  1,  1,  1,  2,  0,  1,  0,  1,  1,  4,  3,  1,  1,  5,  2,  0,  2,  0,  0,  0,  0,  0,  1,  1,  0,  0,  1,  2,  1,  0],
       [ 3,  0,  0,  1,  0,  0,  3,  0,  0,  1,  1,  3,  0,  0,  0,  2,  0,  0,  0,  2,  0,  1,  3,  0,  0,  1,  0,  1,  1,  1, ...,  0, 13,  0,  0,  0,  0,  0,  0,  1,  0,  2,  1,  0,  0,  0,  0,  4,  3,  0,  0,  1,  1,  1,  3,  1,  0,  0,  0,  0,  0],
       [ 1,  0,  0,  1,  0,  1,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, ...,  0,  0,  0,  0,  1,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  1,  0,  0],
       [ 0,  0,  1,  0,  0,  0,  0,  0,  0,  2,  1,  4,  0,  1,  0,  0,  1,  0,  0,  1,  0,  0,  1,  0,  6,  0,  0,  0,  0,  0, ...,  1,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  2,  0,  0,  1,  0,  0,  0,  0,  0,  0,  1,  0,  0,  1,  0,  0,  0],
       [ 1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  4,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1, ...,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  1,  2,  0,  0,  0,  0,  2,  1,  0,  5,  1,  0,  0,  1,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  2,  0,  1,  0, ...,  0,  1,  1,  0,  1,  1,  0,  0,  0,  1,  0,  0,  0,  2,  0,  1,  0,  1,  0,  0,  1,  0,  0,  2,  2,  1,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  2,  0,  1,  0, ...,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0,  0,  1,  0,  0,  2,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0],
       [ 1,  0,  0,  0,  0,  1,  1,  0,  0,  0,  0,  2,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0, ...,  1,  0,  0,  0,  0,  0,  0,  0,  0,  2,  1,  0,  0,  0,  0,  0,  2,  0,  0,  0,  0,  0,  0,  1,  1,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  1,  0, ...,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  3,  1,  0,  0,  0,  0,  1,  0,  7,  1,  0,  1,  0,  0,  0,  0,  0,  0,  0,  1,  0,  3,  2,  0,  0,  1,  1, ...,  1,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  1,  0,  0,  1,  0,  0,  1,  1,  0,  0,  0,  2,  0,  1,  0,  0,  1],
       [ 0,  0,  0,  1,  0,  0,  1,  0,  0,  0,  0,  8,  0,  0,  1,  0,  0,  0,  0,  0,  0,  1,  0,  0,  1,  0,  0,  0,  0,  0, ...,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  2,  1,  0,  0,  2,  0,  0,  0,  1,  0,  0,  0,  0,  1,  0,  1,  0,  0,  0,  1,  0,  2,  0, ...,  0,  0,  1,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0],
       [ 1,  0,  0,  0,  0,  0,  4,  0,  0,  0,  2,  2,  0,  0,  0,  0,  1,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, ...,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  1,  2,  0,  0,  0,  0,  0,  0],
       [ 2,  0,  0,  0,  0,  1,  1,  0,  0,  0,  0,  2,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  2,  0,  0,  0, ...,  0,  0,  0,  0,  0,  1,  1,  0,  1,  0,  0,  0,  1,  1,  0,  0,  0,  0,  1,  2,  0,  0,  0,  0,  0,  1,  0,  1,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  2, ...,  1,  0,  1,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0],
       [ 0,  0,  0,  0,  1,  0,  0,  0,  0,  1,  0,  1,  1,  0,  1,  0,  0,  0,  0,  0,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0, ...,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  2,  1,  1,  0,  1,  0,  0]], shape=(49581, 100))

In [25]:
vectorizer.ngram_range

(1, 1)

In [26]:
vectorizer.get_feature_names_out()

array(['act', 'actors', 'actually', 'also', 'another', 'back', 'bad', 'be', 'become', 'best', 'better', 'br', 'cant', 'cast', 'character', 'come', 'could', 'director', 'do', 'end', 'even', 'ever', 'every', 'feel', 'film', 'find', 'first', 'funny', 'get', 'give', 'go', 'good', 'great', 'guy', 'im', 'interest', 'it', 'know', 'leave', 'life', 'like', 'little', 'live', 'look', 'lot', 'love', 'make', 'man', 'many', 'movie', 'movies', 'much', 'never', 'new', 'nothing', 'old', 'one', 'part', 'people', 'play', 'plot', 'point', 'quite', 'real', 'really', 'say', 'scene', 'scenes', 'see', 'seem', 'set', 'show', 'something', 'star', 'start', 'still', 'story', 'take', 'tell', 'thats', 'the', 'thing', 'things', 'think', 'this', 'though', 'time', 'try', 'turn', 'two', 'us', 'use', 'want', 'watch', 'way', 'well', 'work', 'would', 'write', 'years'], dtype=object)

In [27]:
len(vectorizer.get_feature_names_out())

100

In [28]:
X.shape, y.shape

((49581, 100), (49581,))

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.20, random_state=42)

In [31]:
X_train.shape, X_test.shape

((39664, 100), (9917, 100))

In [32]:
y_train.shape, y_test.shape

((39664,), (9917,))

In [33]:
import dagshub
import mlflow
mlflow.set_tracking_uri('https://dagshub.com/pank3004/Sentiment-Analysis.mlflow')
dagshub.init(repo_owner='pank3004', repo_name='Sentiment-Analysis', mlflow=True)

mlflow.set_experiment('Logistic Regression Baseline model')

Accessing as pank3004

Initialized MLflow to track repo "pank3004/Sentiment-Analysis"

Repository pank3004/Sentiment-Analysis initialized!

<Experiment: artifact_location='mlflow-artifacts:/7329278318174c75a319dbce3fbeab87', creation_time=1749805289179, experiment_id='0', last_update_time=1749805289179, lifecycle_stage='active', name='Logistic Regression Baseline model', tags={}>

In [43]:
import logging
import time
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix


logging.basicConfig(level=logging.INFO, format="%(asctime)s-%(levelname)s-%(message)s")

logging.info('Strarting mlflow run..')

with mlflow.start_run(): 
    start_time=time.time()
    try: 
        mlflow.log_param('vectorizer', 'Bag of words')
        mlflow.log_param('num_features', 100)
        mlflow.log_param('test_size', 0.20)

        logging.info("initiazing model object")
        model=LogisticRegression(max_iter=100)
        model.fit(X_train, y_train)
        logging.info("training done")

        mlflow.log_param('model', 'Logistic Regression')
        mlflow.log_param('max_iter', 100)

        logging.info("start prediction..")
        y_pred=model.predict(X_test)
        logging.info("prediction done")

        logging.info("calculating accuracy, precions , recall  and f1..")
        accuracy=accuracy_score(y_test, y_pred)
        precision=precision_score(y_test, y_pred)
        recall=recall_score(y_test, y_pred)
        f1_score=f1_score(y_test, y_pred)
        logging.info("calculated")


        logging.info("log_metics..")
        mlflow.log_metric('accuracy', accuracy)
        mlflow.log_metric('precision', precision)
        mlflow.log_metric('recall', recall)
        mlflow.log_metric('f1_score', f1_score)
        logging.info("log_metics  done")

        logging.info("logging model at mlflow")
        mlflow.sklearn.log_model(model, 'logistic model')
        logging.info("log_model done ")

        end_time=time.time()

        logging.info(f"Model training and logging completed in {end_time - start_time:.2f} seconds.")


        #Print the results for verification
        logging.info(f"Accuracy: {accuracy}")
        logging.info(f"Precision: {precision}")
        logging.info(f"Recall: {recall}")
        logging.info(f"F1 Score: {f1_score}")

    except Exception as e: 
        logging.error(f'error occured: {e}')

2025-06-14 16:42:41,989-INFO-Strarting mlflow run..
2025-06-14 16:42:45,500-INFO-initiazing model object
2025-06-14 16:42:45,853-INFO-training done
2025-06-14 16:42:46,943-INFO-start prediction..
2025-06-14 16:42:46,951-INFO-prediction done
2025-06-14 16:42:46,952-INFO-calculating accuracy, precions , recall  and f1..
2025-06-14 16:42:46,975-INFO-calculated
2025-06-14 16:42:46,977-INFO-log_metics..
2025-06-14 16:42:49,806-INFO-log_metics  done
2025-06-14 16:42:49,807-INFO-logging model at mlflow
2025/06/14 16:42:55 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.
2025-06-14 16:43:00,660-INFO-log_model done
2025-06-14 16:43:00,661-INFO-Model training and logging completed in 18.03 seconds.
2025-06-14 16:43:00,663-INFO-Accuracy: 0.7281435918120399
2025-06-14 16:43:00,664-INFO-Precision: 0.7247169074580242
2025-06-14 16:43:00,665-INFO-Recall: 0.7426970788315326
2025-06-14 16:43:00,667-INFO-F1 Score: 0.733596837944664

🏃 View run unruly-shad-77 at: https://dagshub.com/pank3004/Sentiment-Analysis.mlflow/#/experiments/0/runs/803c217b20c147ba92092ac3c18f1074
🧪 View experiment at: https://dagshub.com/pank3004/Sentiment-Analysis.mlflow/#/experiments/0