In [65]:
import numpy as np
import pandas as pd
import nltk
import string
import re
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\91830\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [66]:
df=pd.read_csv('IMDB Dataset.csv')

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [68]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [69]:
df.isna().sum()  # there  is no null

review       0
sentiment    0
dtype: int64

In [70]:
df.duplicated().value_counts()

# there are 418 duplicat value we have to remove them

False    49582
True       418
Name: count, dtype: int64

In [71]:
df.drop_duplicates(inplace=True)

In [72]:
df.shape

(49582, 2)

In [73]:
df.reset_index(inplace=True)

In [74]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [75]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [76]:
# convert in lowercase
def lower_case(text): 
    words=text.split(' ')
    words=[word.lower() for word in words]
    return ' '.join(words)

# remove stop words: 
def remove_stopwords(text): 
    words=text.split(' ')
    words=[word for word in words if word not in set(stopwords.words('english'))]
    return ' '.join(words)


#removing numbers
def remove_numbers(text): 
    return re.sub(r'\d+', '', text)
            #or
# def removing_numbers(text): 
#     text="".join([char for char in text if not char.isdigit()])
#     return text


# removing punctuation: 
def remove_puntuations(text):
    translator=str.maketrans('', '', string.punctuation)
    return text.translate(translator)

# removing urls: 
def remove_urls(text):
    return re.sub(r'http\S+|www\S+', '', text)

# lemmetization
def lemetization(text): 
    words=text.split(' ')
    words=[lemmetizer.lemmatize(word, pos='v') for word in words]
    return ' '.join(words)



def normalize_text(df):
    """Normalize the text data."""
    try:
        df['review'] = df['review'].apply(lower_case)
        df['review'] = df['review'].apply(remove_stopwords)
        df['review'] = df['review'].apply(remove_numbers)
        df['review'] = df['review'].apply(remove_puntuations)
        df['review'] = df['review'].apply(remove_urls)
        df['review'] = df['review'].apply(lemetization)
        return df
    except Exception as e:
        print(f'Error during text normalization: {e}')
        raise

In [77]:
normalize_text(df)

KeyboardInterrupt: